<nav class="main-nav py-8 vh-100 d-flex flex-column">
  <div class="nav-header pb-5 ps-8">
    <img src="./assets/images/logo-ANSWER.svg" alt="logo">
  </div>
  <div class="list-group ">
    <a href="#" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0"><span class="material-icons me-4">
        assessment
      </span><span class="fs-6">Dashboard</span></a>
    <a href="#" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0"><span class="material-icons me-4">
      question_answer
      </span><span class="fs-6">Question</span></a>
    <a href="./index.html" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0 <%= current==='index' ? ' active text-success position-relative' : '' %>"><span class="material-icons me-4">
      assignment
      </span><span class="fs-6">Assignment</span></a>
    <a href="#" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0"><span class="material-icons me-4">
      video_library
      </span><span class="fs-6">Course</span></a>
    <a href="./admin.html" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0 <%= current==='admin' ? ' active text-success position-relative' : '' %>"><span class="material-icons me-4">
      people
      </span><span class="fs-6">Admin</span></a>
    <a href="#" class="d-flex align-content-center ps-8 py-1 my-2 list-group-item list-group-item-action bg-light border-0"><span class="material-icons me-4">
      settings
      </span><span class="fs-6">Settings</span></a>
  </div>
  <div class="mt-auto d-flex ps-8">
    <img class="avatar rounded-circle me-4" src="./assets/images/andychen.jpeg" alt="avatar">
    <div class="info">
      <h3 class="fs-6 mb-1">Andy Chen</h3>
      <p class="email">andy0401@mail.com</p>
    </div>
  </div>
</nav>